<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/animated.css">
    <link rel="stylesheet" href="/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/e6e21676c0.js" crossorigin="anonymous"></script>
</head>
<body>

<header class="intro">
    <div class="container">
        <div class="row justify-content-center align-items-center text-center d-flex mx-auto me1 py-2"
             style="height: 100vh;">
            <div class="col-lg-8">
                <h1 class="fadeInDown display-4 fw-bold">JAKK Management</h1>
                <p class="fadeInUp fw-light delay-1">
                    JAKKS Housing is a 501(c)3 not for profit that is committed to addressing the shortage of affordable housing across the United States. Through strategic partnerships and direct investment, JAKKS Housing is committed to the economic development in urban, rural, and low income areas.
                </p>
                <a href="#about" class="btn btn-outline-light delay-3 fadeInUp">About Our Team <i class="fa-solid fa-down-long"></i></a>
                <a href="" class="btn btn-outline-light delay-4 fadeInUp">Get In Touch <i class="fa-solid fa-phone"></i></a>
            </div>
        </div>
    </div>
</header>

<main>
    <section class="container my-5 py-1">
        <div class="row justify-content-center align-items-center mb-5 pb-5" id="about">
            <div class="col-lg-7 mb-3">
                <h2 class="title fw-bold">Meet Our Team</h2>
                <hr style="width: 110px; border: 1px solid black;" class="mb-3">
                <p class="text-muted mb-3">Our team is dedicated to providing affordable housing solutions for low-income families and individuals. We are committed to building strong communities and creating a better future for all.</p>
                <a href="#services" class="btn btn-outline-dark delay-3 fadeInUp">Our Services <i class="fa-solid fa-down-long"></i></a>
            </div>
            <div class="col-lg-5 mb-3">
                <img src="https://placehold.co/600x400" class="img-fluid shadow-lg" alt="our team">
            </div>
        </div>
        <article class="row justify-content-center align-items-center mb-5 pb-5">
            <div class="col-lg-4 mb-3">
                <div class="card">
                    <img src="https://placehold.co/600x400" class="card-img-top" alt="our team">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-3">
                <div class="card">
                    <img src="https://placehold.co/600x400" class="card-img-top" alt="our team">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-3">
                <div class="card">
                    <img src="https://placehold.co/600x400" class="card-img-top" alt="our team">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
        </article>
        <div class="row justify-content-center align-items-center mb-5" id="services">
            <div class="col-lg-8 mb-3">
                <h3>Feature Title</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aperiam assumenda cumque, dignissimos enim eos explicabo, impedit, inventore iure molestias nostrum temporibus ullam vel vero vitae! Et quisquam velit veniam!

                </p>
                <a href="#!" class="btn btn-outline-dark">Get Housing <i class="fa-solid fa-right-long"></i></a>
            </div>
            <div class="col-lg-4 mb-3">
                <img src="https://placehold.co/600x400" class="card-img-top" alt="our services">
            </div>
            <div class="col-lg-8 mb-3">
                <h3>Feature Title</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aperiam assumenda cumque, dignissimos enim eos explicabo, impedit, inventore iure molestias nostrum temporibus ullam vel vero vitae! Et quisquam velit veniam!

                </p>
                <a href="#listings" class="btn btn-outline-dark">View Listings <i class="fa-solid fa-down-long"></i></a>
            </div>
            <div class="col-lg-4 mb-3">
                <img src="https://placehold.co/600x400" class="card-img-top" alt="our services">
            </div>
        </div>
    </section>
    <section class="banner-1 mb-5">
        <div class="container">
            <div class="row justify-content-center align-items-center text-center mx-auto d-flex me-2 py-1" style="height: 45vh;">
                <div class="col-lg-10">
                    <h4 class="mb-3">Subscribe to our newsletter</h4>
                    <form action="">
                        <input type="email" placeholder="Enter your email" class="form-control mb-3">
                        <button type="submit" class="btn btn-outline-light">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="container-fluid my-5 py-5">
        <article class="row justify-content-center mb-5 pb-lg-5 align-items-center" id="listings">
            <div class="col-lg-3 col-md-6 mb-3">
                <p>Listing 1</p>
                <img src="https://placehold.co/600x400" class="card-img-top" alt="our listings">
            </div>
            <div class="col-lg-3 col-md-6 mb-3">
                <p>Listing 2</p>
                <img src="https://placehold.co/600x400" class="card-img-top" alt="our listings">
            </div>
            <div class="col-lg-3 col-md-6 mb-3">
                <p>Listing 3</p>
                <img src="https://placehold.co/600x400" class="card-img-top" alt="our listings">
            </div>
            <div class="col-lg-3 col-md-6 mb-3">
                <p>Listing 4</p>
                <img src="https://placehold.co/600x400" class="card-img-top" alt="our listings">
            </div>
            <div class="col-md-12 mt-3">
                <p>
                    Get In touch with us today to get the best deals on your next vacation. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet assumenda cumque dignissimos doloribus fuga impedit ipsa minima nemo neque, placeat, rerum suscipit temporibus, ullam! Eos error facere qui repellat voluptate?
                </p>
                <a href="#contact" class="btn btn-outline-dark">Contact Us Now <i class="fa-solid fa-down-long"></i></a>
            </div>
        </article>
        <div class="row justify-content-center align-items-center" id="contact">
            <div class="col-lg-5 mb-3">
                <img src="https://placehold.co/600x400" class="card-img-top" alt="our listings">
            </div>
            <div class="col-lg-7 mb-3">
                <form action="">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email">
                    </div>
                    <div class="mb-3">
                        <label for="message" class="form-label">Message</label>
                        <textarea class="form-control" id="message" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-outline-dark">Submit</button>
                </form>
            </div>
        </div>
    </section>
</main>

<script type="text/javascript" src="/jquery.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/bootstrap.bundle.min.js"></script>
</body>
</html>