<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/animated.css">
    <link rel="stylesheet" href="/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/e6e21676c0.js" crossorigin="anonymous"></script>
</head>
<body>

<header class="intro">
    <div class="container">
        <div class="row justify-content-center align-items-center d-flex mx-auto me1 py-2"
             style="height: 100vh;">
            <div class="col-md-7 mb-2">
                <p style="letter-spacing: 5px;">COMING SOON</p>
                <h1 class="fadeInDown h1 fw-bold">JAKK Housing</h1>
                <p class="fadeInUp fw-light delay-1">
                    Jakks Housing, a 501(c) nonprofit, is committed to preserving affordable housing by funding and facilitating essential repairs for troubled properties in low-income and rural areas, ensuring they remain safe and livable.
                </p>
                <a href="#!" class="btn btn-outline-light delay-3 fadeInUp">Contribute <i class="fa-brands fa-paypal"></i></a>
                <a href="tel:773-340-3752" class="btn btn-outline-light delay-4 fadeInUp">Get In Touch <i class="fa-solid fa-phone"></i></a>
            </div>
            <div class="col-md-5 mb-2">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Subscribe</h2>
                        <form action="/send/subscriber" method="post" enctype="multipart/form-data">
                            <div class="mb-3">
                                <label for="from" class="form-label">Email address</label>
                                <input type="email" name="from" class="form-control" id="from" aria-describedby="from">
                                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                            </div>
                            <button type="submit" class="btn btn-primary" onclick="alert('your message was sent')">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<script type="text/javascript" src="/jquery.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/bootstrap.bundle.min.js"></script>
</body>
</html>